<% include('partials/header') %>

<a href="/campgrounds/new">Add a new campground!</a>


<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>  
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<% include('partials/footer') %>