<% include('partials/header') %>

<div class="mt-4 p-5 bg-primary text-white rounded">
    <h4>Campgrounds</h4>
</div>


<a href="/campgrounds/new">Add a new campground!</a>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>  
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<% include('partials/footer') %>