<% include('partials/header') %>

<header class="mt-4 p-5 bg-primary text-white rounded">
    <h4>Add a New Campground!</h4>
</header>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href='/campgrounds'>Nevermind, return me to the campgrounds</a>
<% include('partials/footer') %>