<%- include('partials/header') %>
<div class="container">
    <div class="row">
    <h1 class="d-flex justify-content-center mb-4">Add a New Campground!</h1>
        <div style="width:30%; margin:0 auto">
        <form action="/campgrounds" method="POST">
            <input class="form-control mb-3" type="text" name="name" placeholder="Name">
            <input class="form-control mb-3" type="text" name="image" placeholder="Image url">
            <div class="d-grid">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a class="btn btn-sm btn-outline-secondary col-6 mt-1" href='/campgrounds'>Go Back</a></button>
        </div>
    </div>
    
    
</div>

<%- include('partials/footer') %>