.card {
  perspective: 1000px;
  transition: transform 0.5s;
}

.card:hover .card-body {
  transform: rotateY(180deg);
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-body.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}